#container {
	text-align:center;
	width:500px;
	margin:0 auto 0 auto;
}

h1 {
	font-family:verdana;
}

ul {
	background:#333;
	color:#fff;
	padding:10px 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	width:100px;
	display:block;
	height:15px;
	clear:both;
	margin:0 auto 0 auto;
	text-align:center;
}

ul li {
	list-style:none;
	font-family:verdana;
	font-size:12px;
}